body {
    font-family: 'DM Sans', sans-serif;
    color: #ffffff; /* White text */
    margin: 0;
    padding: 0;
}

.sentence {
    display: inline-block;
    margin: 1%; /* Adjust the percentage value as needed */
    margin-left: 0%;
    color: #f0f0f4;
    background-color: #2a323d;
    padding: 0.5%; /* Adjust the percentage value as needed */
    border-radius: 5%;
}

.sentence_past {
    display: inline-block;
    margin: 1%; /* Adjust the percentage value as needed */
    color: #000000;
    background-color: #c5cfdb;
    padding: 1%; /* Adjust the percentage value as needed */
    border-radius: 5%;;
}

.content {
    margin: 2%; /* Adjust the percentage value as needed */
}

h1 {
    text-align: center;
    color: #f0f0f4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4vw; /* Adjust the percentage value as needed */
    margin: 1% 0;
    padding: 1%; /* Adjust the percentage value as needed */
    border-radius: 5%;
}

h2 {
    margin: 2% 0;
    text-align: center;
    color: #f0f0f4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vw; /* Adjust the percentage value as needed */
}

h3 {
    margin: 2% 0;
    text-align: center;
    color: #2a323d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vw; /* Adjust the percentage value as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    word-wrap: normal;
    word-break: normal;
    white-space: normal;
    overflow-wrap: anywhere;
  }
  

th,
td {
    padding: 1%; /* Adjust the percentage value as needed */
    text-align: left;
    border-bottom: 1px solid #f0f0f4;
    color: #ffffff;
}

.footer {
    background-color: #2a323d;
    color: #f0f0f4;
    padding: 2%; /* Adjust the percentage value as needed */
    text-align: center;
}

.all_encomp {
    min-height: 100vh;
    background-color: #2a323d;
}

.past_stories {
    background-color: #c5cfdb;
    padding-top: 2%;
    border-radius: 10px;
}

.loading-text {
    font-size: 5vw; /* Adjust the percentage value as needed */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-divider {
    border: none;
    border-top: 1px solid #5e5e62;
    margin: 2% 0;
}
